@font-face {
    font-family: "Yantramanav-Medium";
    src: url("Yantramanav-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "BarlowCondensed-SemiBold";
    src: url("barlow_condensed_semibold.woff2") format("woff2");
}
/*************** MAIN ELEMENTS ***************/

body {
    margin:0;
    padding:0;	
}

div {
    position:absolute;
}

#wrapper {
    border: 5px solid white;
    display:block;
    top: 0;
    left: 0;
    width: 970px;
    height: 250px;
	overflow: hidden;
}

#wrect {
    width: inherit;
    height: inherit;
    background: #161616;
    pointer-events: none;
}

#border {
    border: 1px solid #333; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

/******************** LOGO ********************/

#logo {
    cursor: pointer;
    width: 86px;
    height: 86px;
    top: 20px;
    left: 20px;
    background: url("https://s0.2mdn.net/ads/richmedia/studio/pv2/61894449/20210902025649119/logo.svg") no-repeat;
    background-size: contain;
}

/******************** BUTTON ********************/

#ctawrap {
    width: 145px;
    height: 38px;
    bottom: 20px;
    right: 0%;
    transform: translateX(-50%);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.cta {
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 38px;
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    letter-spacing: 0.6pt;
}

#cta {
    cursor: pointer;
    background: #00bdf2;
    color: #fff;
    -webkit-transition: background 0.3s, color 0.3s;
    transition: background 0.3s, color 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

#ctaback {
    background: #fff; 
    color: #00bdf2;
}

#cta:hover {
	background: #fff;
    color: #00bdf2;
}

/********************** TEXT **********************/

#text {
    top: 70px;
    right: 80px;
    width: 450px;
    height: inherit;
    font-family: 'BarlowCondensed-SemiBold', sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.4pt;
    line-height: 1;
}

#text > span {
    display: inline-block;
}

#text1 {
    font-size: 70px;
    color: #fff;
    line-height: 100%;
}

#text2 {
    font-size: 30px;
    color: #00bdf2;
    line-height: 100%;
}

#text3 {
    bottom:28px;
    text-align: right;
    width: 450px;
    right: 200px;
    font-family: 'Yantramanav-Medium', sans-serif;
    line-height: 100%;
    font-size: 16px;
    color: #fff;
    text-shadow: 1px 1px 2px #000, 0 0 1em #000;
}

.slanted {
    display: inline-block;
    -webkit-transform: rotate(-10deg) skewX(-10deg);
        -ms-transform: rotate(-10deg) skewX(-10deg);
            transform: rotate(-10deg) skewX(-10deg);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
}
/********************** IMAGE **********************/

#images {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.img {
    width: inherit;
    height: inherit;
}

